.expense-filter-container{
    display: flex;
    justify-content: space-between;
    margin-block: 10px;
    align-items: center;
}

.expense-filter-container p{
    color: white;
}

#expense-filter{
    width: 20%;
    padding-inline: 5px;
    font-size: 15px;
    height: 35px;
    cursor: pointer;
}